/* Darkred color: #3d090f */
/* Gold color: #8d6738 */

/* Fonts */
@font-face {
  font-family: "anton";
  src: url(fonts/anton.ttf);
}

@font-face {
  font-family: "abril";
  src: url(fonts/abril.ttf);
}

@font-face {
  font-family: "golden-age";
  src: url(fonts/golden-age.ttf);
}


body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "h1 h1 h1"
    "start start start"
    "s20 s20 s20"
    "s30-40 s30-40 s30-40"
    "s50-60 s50-60 s50-60"
    "s70 s70 s70"
    "s80 s80 s80"
    "s21 s21 s21";
  row-gap: 40px;
}

/* .img { */
/*   grid-area: img; */
/*   background-color: #cdc7b7; */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */

/* Front page */
.front-page {
  grid-area: h1;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 650px;
  border-color: #f2ede9;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 100px;
  color: #bd4444;
  font-size: 100pt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: 100px;
  line-height: 1em;
}

p {
  color: #f2ede9;
}

/* The start section */
.start-img {
  grid-area: start-img;
  width: 460px;
  height: auto;
  margin-left: 20px;
  margin-top: 40px;
}
.start {
  box-sizing: border-box;
  grid-area: start;
  background-color: #161616;
  height: 760px;
  border: 100px;
  border-color: #f2ede9;
  display: grid;
  grid-template-columns: 500px 100px 1fr;
  grid-template-rows: 1fr 190px 190px 1fr;
  grid-template-areas:
    "start-img sred ."
    "start-img start-text the"
    "start-img origins origins"
    "start-img th19 th19";
}

.start-the {
  grid-area: the;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 150pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: 20px;
  letter-spacing: 6px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.start-origins {
  grid-area: origins;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 150pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  text-align: right;
  direction: rtl;
  margin-right: 20px;
  letter-spacing: 6px;
}

.start-19th {
  grid-area: th19;
  color: #f2ede9;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: 20px;
  letter-spacing: 2px;
}

.start-text {
  grid-area: start-text;
  color: #f2ede9;
  padding: 100px;
  width: 400px;
  font-size: 10pt;
  height: auto;
  text-align: justify;
  /* text-justify: inter-word; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 30px;
}

.sred {
  box-sizing: border-box;
  grid-area: sred;
  width: 40px;
  height: 200px;
  background-color: #bd4444;
  position: relative;
  /*  margin-top: 100px; */
}

/* The 1920s section */
.s20 {
  grid-area: s20;
  background-color: #161616;
  height: 760px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 190px 160px 1fr 1fr 1fr;
  grid-template-areas:
    " . . s20-red"
    "silent s20-s20 s20-img"
    "film s20-s20 s20-img"
    "s20-text . s20-img"
    ". s20-text2 img"
    ". s20-text2 img";
}

.s20-img {
  grid-area: s20-img;
  width: 400px;
  height: auto;
  margin-right: 40px;
  margin-top: 40px;
}

.s20-silent {
  grid-area: silent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 120pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: ltr;
  margin-left: 20px;
  margin-top: 140px;
  letter-spacing: 6px;
}

.s20-film {
  grid-area: film;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 120pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: ltr;
  margin-left: 20px;
  letter-spacing: 6px;
}

.s20-s20 {
  grid-area: s20-s20;
  color: #f2ede9;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  display: flex;
  align-items: center;
  margin-left: 400px;
  margin-top: 170px;
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
}

.s20-text {
  grid-area: s20-text;
  color: #f2ede9;
  width: 340px;
  height: auto;
  font-size: 10pt;
  text-align: justify;
  /* text-justify: inter-word; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 80px;
}

.s20-text2 {
  grid-area: s20-text2;
  color: #f2ede9;
  width: 340px;
  height: auto;
  font-size: 10pt;
  text-align: justify;
  /* text-justify: inter-word; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.s20-red {
  grid-area: s20-red;
  background-color: #bd4444;
}

/* The 1930s & 1940s section */
.s30-40 {
  grid-area: s30-40;
  background-color: #161616;
  height: 760px;
  display: grid;
  grid-template-columns: 420px repeat(2, 1fr);
  grid-template-rows: 100px 1fr 110px 110px 110px 200px;
  grid-template-areas:
    "s30 . ."
    "golden-img . ."
    "golden-img golden-text women-img"
    "golden-img golden-the golden-the"
    "golden-img golden-golden golden-golden"
    "golden-img golden-age golden-age"
    "s40 . .";
  box-sizing: border-box;
}

.golden-img {
  grid-area: golden-img;
  width: 400px;
  height: auto;
  margin-left: 20px;
  position: relative;
  z-index: 1; /* Lower z-index value */
}

.img-women {
  grid-area: women-img;
  width: 160px;
  height: auto;
  margin-top: 60px;
  margin-left: 660px;
  position: absolute;
  margin-bottom: 100px;
}

.golden-s30 {
  grid-area: s30;
  color: #f2ede9;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  margin-left: 400px; */
  /*  margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
  top: 20px;
  left: 20px;
}

.golden-s40 {
  grid-area: s40;
  color: #f2ede9;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 400px; */
  /* margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
}

.golden-the {
  grid-area: golden-the;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: 20px;
  letter-spacing: 6px;
  margin-top: 150px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.golden-golden {
  grid-area: golden-golden;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: 20px;
  letter-spacing: 6px;
  margin-top: 150px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.golden-age {
  grid-area: golden-age;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: 20px;
  letter-spacing: 6px;
  margin-top: 150px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.star {
  color: #f2ede9;
}

.golden-text {
  grid-area: golden-text;
  color: #f2ede9;
  font-size: 10pt;
  width: 400px;
  height: auto;
  text-align: justify;
  /* text-justify: inter-word; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  /* margin-top: 30px; */
}

/* The 1950s & 1960s section */
.s50-60 {
  grid-area: s50-60;
  background-color: #161616;
  height: 760px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 50px repeat(1, 1fr);
  grid-template-rows: 112px 112px 112px 1fr 1fr;
  grid-template-areas:
    "lights . . . s50"
    "camera . . . hollywood-img"
    "action s50-60-text . s50-60-red hollywood-img"
    ". s50-60-text . s50-60-red hollywood-img"
    "woman-img s50-60-text . s50-60-red s60";
}

.s50 {
  grid-area: s50;
  color: #f2ede9;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 400px; */
  /* margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
  margin-top: 100px;
  margin-right: 40px;
}

.s60 {
  grid-area: s60;
  color: #f2ede9;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 400px; */
  /* margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
  margin-top: 180px;
  margin-right: 40px;
}

.hollywood-img {
  grid-area: hollywood-img;
  width: 500px;
  height: auto;
  margin-right: 40px;
  /*   position: relative; */
}

.woman-img {
  grid-area: woman-img;
  width: 240px;
  height: auto;
  margin-right: 40px;
  margin-left: 6px;
}

.lights {
  grid-area: lights;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: ltr;
  letter-spacing: 2px;
  margin-left: 40px;
}

.camera {
  grid-area: camera;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: ltr;
  letter-spacing: 2px;
  margin-left: 40px;
}

.action {
  grid-area: action;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: ltr;
  letter-spacing: 2px;
  margin-left: 40px;
}

.s50-60-text {
  grid-area: s50-60-text;
  color: #f2ede9;
  font-size: 10pt;
  width: 300px;
  height: auto;
  text-align: justify;
  /* text-justify: inter-word; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 80px; */
  /*  margin-top: 200px; */
}

.s50-60-red {
  grid-area: s50-60-red;
  background-color: #bd4444;
  height: 360px;
  margin-top: 80px;
}

/* The 1970s section */

/* .s70 {
  grid-area: s70;
  background-color: cadetblue;
  height: 760px;
} */

.s70 {
  grid-area: s70;
  justify-content: flex-end;
  background-color: #161616;
  height: 760px;
  display: grid;
  grid-template-columns: 800px repeat(2, 1fr);
  grid-template-rows: 100px 1fr 110px 110px 110px 200px;
  grid-template-areas:
    "s30 . ."
    "golden-img . ."
    "golden-img golden-the golden-the"
    "golden-img golden-golden golden-golden"
    "golden-img golden-age golden-age"
    "s40 . .";
  box-sizing: border-box;
}

.cinema-img {
  grid-area: golden-img;
  width: 550px;
  height: auto;
  /* margin-left: 20px; */
  object-fit: contain;
  position: relative;
  z-index: 1; /* Lower z-index value */
  align-self: center;
  justify-self: center;
  top: 25px;
  margin-left: -20px;
}


.hollywood-19 {
  grid-area: s30;
  color: #f2ede9;
  font-family: "golden-age";
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  margin-left: 400px; */
  /*  margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
  top: -20px;
  left: -280px;
}

.hollywood-70 {
  grid-area: s40;
  color: #f2ede9;
   font-family: "golden-age";
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 400px; */
  /* margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
  bottom: -70px;
  left: 205px;
}

.hollywood-new {
  grid-area: golden-the;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 110pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: -485px;
  letter-spacing: 6px;
  margin-top: 110px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.hollywood-holly {
  grid-area: golden-golden;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 110pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right: -485px;
  letter-spacing: 6px;
  margin-top: 110px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.hollywood-wood {
  grid-area: golden-age;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 110pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  z-index: 2;
  margin-right: -485px;
  letter-spacing: 6px;
  margin-top: 110px;
  /* width: 1fr; */
  /* height: 1fr; */
}

.star {
  color: #f2ede9;
}


.hollywood-text {
  grid-area: golden-text;
  color: #f2ede9;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10pt;
  width: 480px;
  height: auto;
  text-align: justify;
  /* text-justify: inter-word; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 125px;
  margin-top: -1150px;
}


/*  */
/*  */
/*  */
/*  */
/* The 1980s section*/



/* .s80 {
  grid-area: s80;
  background-color: brown;
  height: 760px;
} */

.s80 {
  grid-area: s80;
  height: 760px;
  background-color: #161616;
  justify-content: flex-end;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 800px repeat(2, 1fr);
  grid-template-rows: 100px 1fr 110px 110px 110px 200px 50px;
  grid-template-areas: 
    "image numbers"
    "heading heading"
    "text text";
  grid-gap: 20px;
  margin: 0 auto;
  z-index: 1;
  box-sizing: border-box;
}

.car-img {
  grid-area: image;
  width: 550px;
  height: auto;
  margin-left:470px;


  object-fit: contain;
  position: relative;
  z-index: 1; /* Lower z-index value */
  align-self: center;
  justify-self: center;
  top: 165px;

  

}

.s80-19 {
  grid-area: numbers;
  text-align: right;
  z-index: 2;

  color: #f2ede9;
  font-family: "golden-age";
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
   
  /*  margin-top: 170px; */
  letter-spacing: 2px;
  position: relative;
  margin: 0;
  top: -24px;
  left:390px;

}

.s80-80 {
  grid-area: numbers;
  text-align: right;
  z-index: 2;

  color: #f2ede9;
  font-family: "golden-age";
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 /* margin-left: 400px; */
 /* margin-top: 170px; */
  letter-spacing: 2px;
  z-index: 2;
  position: relative;
  margin: 0;
  bottom: -685px;
  left: -100px;
}

.s80-new {
  grid-area: heading;
  z-index: 2;
  color: #bd4444;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 110pt;
  color: #bd4444;
  /* display: flex; */
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right:590px;
  margin-top: -40px;
  
  
}

.star {
  color: #f2ede9;
}

.s80-holly {
  grid-area: heading;
  z-index: 2;
  color: #bd4444;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 110pt;
  color: #bd4444;
  /* display: flex; */
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right:480px;
  margin-top: 70px;
 
}

.s80-wood {
  grid-area: heading;
  z-index: 2;
  margin-left: 200px;
  color: #bd4444;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 110pt;
  color: #bd4444;
  display: flex;
  align-items: center;
  text-align: right;
  direction: rtl;
  margin-right:400px;
  margin-top: 185px;
}

.s80-text {
  grid-area: text;
  color: #f2ede9;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10pt;
  width: 480px;
  height: auto;
  margin-left: 100px;
  margin-top: -100px;
 
}


/* 21st century section */
.s21-century {
  grid-area: s21;
  background-color: blanchedalmond;
  height: 760px;
}
